<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left text-light">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Site para o curso de informática</h5>
        <p>Esse site foi feito com o intuito de fazer o Kayky passar de ano.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-info">INFORMÁTICA</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/infocimol">Facebook</a>
          </li>
          <li>
            <a href="#">Site</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-warning">CIMOL</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/CimolOficial">Facebook</a>
          </li>
          <li>
            <a href="https://www.cimol.g12.br/">Site</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="https://github.com/kayky-cas"> GitHub@kayky-cas</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->