{% extends "base_page.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <div class="row titulos text-light bg-dark">
        <div class="col-5">
            <h3>Titulo 1</h3>
        </div>
        <div class="col">
        </div>
        <div class="col-5">
            <h3>Titulo 2</h3>
        </div>
    </div>
    <div class="row paragrafos bg-light text-dark shadow">
        <div class="col-5">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit finibus urna malesuada ante fames, facilisi pulvinar class dictum potenti. Curae elit mus posuere netus parturient quisque malesuada lacus dictumst non turpis metus mauris, interdum venenatis hendrerit eget pharetra risus at velit sed amet integer. Cubilia est etiam fringilla maecenas id augue, in primis elementum scelerisque quis, tellus congue facilisis lacinia nibh. Tristique porta gravida vel per quisque torquent felis volutpat, imperdiet integer in fusce taciti ex porttitor interdum neque, curae platea lobortis amet mi duis enim. Lacus porttitor aliquam a sociosqu justo viverra blandit, ac odio tempor nibh ridiculus condimentum fringilla elementum, ligula pellentesque proin potenti magna class. Fringilla risus enim massa vivamus maximus nisl, cursus dolor faucibus parturient neque taciti tincidunt, tempor natoque imperdiet molestie malesuada. Mattis feugiat tincidunt nisi sagittis ex nisl tortor justo, vivamus sem risus aliquet sodales velit suscipit, lorem tellus adipiscing parturient sapien at condimentum. Praesent risus eget lorem proin vestibulum congue consectetur quis dignissim, platea faucibus metus diam ex auctor tristique fringilla conubia laoreet, nascetur vulputate id class turpis feugiat enim velit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit finibus urna malesuada ante fames, facilisi pulvinar class dictum potenti. Curae elit mus posuere netus parturient quisque malesuada lacus dictumst non turpis metus mauris, interdum venenatis hendrerit eget pharetra risus at velit sed amet integer. Cubilia est etiam fringilla maecenas id augue, in primis elementum scelerisque quis, tellus congue facilisis lacinia nibh. Tristique porta gravida vel per quisque torquent felis volutpat, imperdiet integer in fusce taciti ex porttitor interdum neque, curae platea lobortis amet mi duis enim. Lacus porttitor aliquam a sociosqu justo viverra blandit, ac odio tempor nibh ridiculus condimentum fringilla elementum, ligula pellentesque proin potenti magna class. Fringilla risus enim massa vivamus maximus nisl, cursus dolor faucibus parturient neque taciti tincidunt, tempor natoque imperdiet molestie malesuada. Mattis feugiat tincidunt nisi sagittis ex nisl tortor justo, vivamus sem risus aliquet sodales velit suscipit, lorem tellus adipiscing parturient sapien at condimentum. Praesent risus eget lorem proin vestibulum congue consectetur quis dignissim, platea faucibus metus diam ex auctor tristique fringilla conubia laoreet, nascetur vulputate id class turpis feugiat enim velit.</p>

        </div>
        <div class="col">
        </div>
        <div class="col-5">
            <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit finibus urna malesuada ante fames, facilisi pulvinar class dictum potenti. Curae elit mus posuere netus parturient quisque malesuada lacus dictumst non turpis metus mauris, interdum venenatis hendrerit eget pharetra risus at velit sed amet integer. Cubilia est etiam fringilla maecenas id augue, in primis elementum scelerisque quis, tellus congue facilisis lacinia nibh. Tristique porta gravida vel per quisque torquent felis volutpat, imperdiet integer in fusce taciti ex porttitor interdum neque, curae platea lobortis amet mi duis enim. Lacus porttitor aliquam a sociosqu justo viverra blandit, ac odio tempor nibh ridiculus condimentum fringilla elementum, ligula pellentesque proin potenti magna class. Fringilla risus enim massa vivamus maximus nisl, cursus dolor faucibus parturient neque taciti tincidunt, tempor natoque imperdiet molestie malesuada. Mattis feugiat tincidunt nisi sagittis ex nisl tortor justo, vivamus sem risus aliquet sodales velit suscipit, lorem tellus adipiscing parturient sapien at condimentum. Praesent risus eget lorem proin vestibulum congue consectetur quis dignissim, platea faucibus metus diam ex auctor tristique fringilla conubia laoreet, nascetur vulputate id class turpis feugiat enim velit.</p>

            <p>Libero pulvinar ipsum cursus turpis dolor augue eu bibendum, vivamus tellus fringilla consectetur magna purus volutpat, montes lacinia proin pharetra vel facilisis nisl. Bibendum ultricies mollis commodo habitasse dictumst ac cras enim, porttitor inceptos fusce sapien hendrerit velit congue duis, faucibus quisque pulvinar pretium quis vulputate senectus. Dictumst condimentum ante dolor venenatis quisque amet, duis massa sit lorem semper primis, varius odio nostra magna taciti. Consectetur ridiculus elit lectus fames lobortis, inceptos imperdiet parturient ante dictum, nisl vulputate vehicula nostra. Fusce massa leo laoreet malesuada interdum duis velit sit urna phasellus, nulla risus proin habitant eget mattis lectus nisi class.</p>

        </div>
    </div>


{% endblock %}



