{% extends "base_page.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

    <table class="table border shadow">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Ano</th>
          <th scope="col">Matrícula</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>

        </tr>
      </tbody>
    </table>

{% endblock %}



